@tailwind base;
@tailwind components;
@tailwind utilities;

@import './assets/styles/_variables.scss';

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
}

* {
  box-sizing: border-box;
}

.input {
  @include input();
}

.button {
  @include button();
}
